@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan font Inter agar bisa digunakan dengan class font-inter */
@layer base {
    :root {
        /* Next.js Font sets this CSS variable */
        --font-inter: 'Inter', sans-serif; 
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5); 
    border-radius: 20px;
}